<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link type="text/css" rel="stylesheet" id="dark-mode-general-link">
<link type="text/css" rel="stylesheet" id="light-mode-custom-link">
<style type="text/css" id="dark-mode-custom-style"></style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>User page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <table border="1">
        <caption>User page</caption>
        <thead>
        <tr>
            <th> Name </th>
            <th> Last name </th>
            <th> Age </th>
            <th> Password </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${userData.name}"> Name </span></td>
            <td><span th:text="${userData.lastName}"> Last name </span></td>
            <td><span th:text="${userData.age}"> Age </span></td>
            <td><span th:text="${userData.password}"> Password </span></td>
            <td>
                <table>
                    <tr th:each="a: ${userData.getRole()}">
                        <td data-th-text="${a.role}">...</td>
                    </tr>
                </table>
            </td>

        </tr>
        </tbody>
    </table>


    <form class="form-signin" method="get" action="/logout">
        <button class="btn btn-sm btn-primary btn-block" type="submit">Logout</button>
    </form>

</div>
</body>
</html>